<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
      <ul class="button-group">
        <li><%= link_to 'New article', new_article_path, class: 'button' %></li>
        <li><a href="http://www.brightgrove.com/" target="_blank"  class="button">BrightGrove</a></li>
      </ul>
    </div>
    <h1><%= link_to 'Blog', controller: 'articles' %><small> This is my first RoR blog. It's awesome.</small></h1>
    <hr/>
  </div>
</div>